.banner-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420px;
    background-image: linear-gradient(to right bottom,
            #2980b9,
            #40a4be,
            #7fc2bf,
            #bedecb,
            #f4f9eb);

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

        p {
            font-size: 0.9rem;

            i {
                font-size: 0.8rem;
                padding: 0 0.7rem;
            }

            a {
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}