#contact {
    padding: 0rem 2rem 6rem;

    #map {
        padding-top: 1rem;

        iframe {
            width: 100%;
            height: 600px;
        }
    }

    h1 {
        margin-bottom: 1rem;
    }

    .col-md-8 {
        .form-control {
            border-radius: 0;
            border: 1px solid $d-blue;
        }

        .btn {
            border-radius: 0;
            padding: 0.7rem 2rem;
            background: $main-clr;
            @include transEase;

            &:hover {
                background: $d-blue;
            }
        }
    }

    .media {
        padding-bottom: 1rem;

        .media-body {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 0;

            i {
                font-size: 1.8rem;
                padding-right: 1rem;
                color: #444;
            }

            h4 {
                font-size: 1.2rem;
                margin-bottom: 0;
                color: #444;
            }

            p {
                font-size: 0.8rem;
                color: #999;
            }

            a {
                color: #000;
                font-size: 1.2rem;

                &:hover {
                    color: $main-clr;
                }
            }
        }
    }
}