/* --==Footer==--
====================== */
#footer {
  overflow-x: hidden;
  padding: 6rem 2rem;
  background-image: linear-gradient(
    to left bottom,
    #1a2c40,
    #142538,
    #0e1e30,
    #071728,
    #000f21
  );
  color: #fff;

  a {
    color: #fff;
    @include transEase;

    &:hover {
      color: $main-clr;
    }
  }

  .col-12 {
    padding-bottom: 2rem;

    .footer-heading {
      font-family: 'Lobster', sans-serif;
      display: inline-block;
      padding-right: 0.5rem;
      color: #fff;
    }
  }

  .form-control {
    border: none;
  }

  .btn-outline-light {
    border: none;
    color: $main-clr;
    background: #fff;
    border-radius: 0% 50% 50% 0%;

    &:active {
      transform: scale(1.05);
    }
  }

  .bottom-footer {
    .col-9 {
      p {
        font-size: 0.8rem;
        color: #999;
      }
    }

    .col-3 {
      padding: 0;

      a {
        color: #999;
        padding-left: 0.5rem;

        &:hover {
          color: $main-clr;
        }
      }
    }
  }
}
