.navbar {
  background: transparent;
  width: 100%;
  position: fixed;
  z-index: 200;

  .container {
    padding: 0;
  }

  &.solid {
    background: rgba(23, 32, 42, 0.9);
    @include transEase;
  }

  .navbar-brand {
    font-family: 'Lobster', sans-serif;
    font-size: 2.1rem;

    .highlight {
      color: $main-clr;
    }
  }

  .nav-link {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #fff !important;
    @include transEase;

    &:hover {
      color: $main-clr !important;
    }
  }

  .btn-dark {
    background: $main-clr;
    border: none;
    border-radius: 3px;
    padding: 0.4rem 1.5rem;
    @include transEase;

    &:hover {
      background: lighten($main-clr, 5);
    }
  }

  .dropdown-menu {
    .dropdown-item {
      color: #000;
      &:focus {
        background: $main-clr;
      }
    }
  }
}
