#price {
    padding: 8rem 2rem;
    background: url('../images/pattern1.png') repeat-x top;

    h1 {
        font-weight: bold;
        margin-bottom: 2rem;
    }

    p {
        font-size: 0.9rem;
        color: #999;
        margin-bottom: 2rem;
    }

    .row {
        .card {
            @include transEase;

            &:hover {
                cursor: pointer;
                background: #fff2ed;
                box-shadow: 0.5px 0.5px 5px rgba(85, 85, 85, 0.5);
                transform: scale(1.03);
            }

            .card-img {
                padding: 2rem;

                img {
                    width: 100%;
                }
            }

            .card-body {
                .list-items {
                    margin: 0;
                    list-style: none;

                    .item {
                        color: #777;
                        font-size: 0.95rem;
                        margin-bottom: 0.6rem;
                    }
                }

                .lead {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: $d-blue;
                    margin-bottom: 1rem;

                    span {
                        color: #999;
                        font-size: 1rem;
                        text-transform: lowercase;
                        font-style: italic;
                        font-weight: lighter;
                    }
                }

                .btn {
                    padding: 0.4rem 2rem;
                    margin-top: 1.5rem;
                    font-weight: 500;
                    border-radius: 0;
                    @include transEase;

                    &:hover {
                        background: $main-clr;
                    }
                }
            }
        }
    }
}
